<?xml version="1.0" encoding="UTF-8"?>
<configuration>
     <!--文件输出格式-->
    <property name="PATTERN"
        value="%-12 (%d{yyyy-MM-dd HH:mm:ss:SSS}) |-%5level [%thread] %c [%L] -| %msg%n" />
    <!-- 文件输出格式 -->
    <property name="PATTERN" value="%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) |-%-5level [%thread] %c [%L] -| %msg%n" />
    <!--  文件路径 -->
    <property name="PRO_FILE_PATH" value="log/" />
    <property name="maxFileSize" value="10MB" />
    <property name="maxHistory" value="30" />

    <springProperty scope="context" name="logLevel" source="logging.level" />
    <!-- 生产环境 -->
    <springProfile name="dev">
        <!--设置日志输出为控制台-->
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${PATTERN}</pattern>
            </encoder>
        </appender>
        <!--设置日志输出为文件-->
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${PRO_FILE_PATH}/logger.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxFileSize>${maxFileSize}</maxFileSize>
                <maxHistory>${maxHistory}</maxHistory>
            </rollingPolicy>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>${PATTERN}</pattern>
            </encoder>
        </appender>

        <root>
            <level value="${logLevel}"/>
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
</configuration>
