<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport"/>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link  rel="stylesheet" type="text/css" href="../css/common.css" />
    <link  rel="stylesheet" type="text/css" href="../css/login.css" />
</head>
<body>
<div id="bindmobile" class="logintel login">
    <div class="goarrow" @click="backUrl"><a href="javascript:void(0)"><img src="../img/arrow.png" width="100%"  height="100%"></a></div>
    <h2>输入你的手机号</h2>
    <div class="logintelconent">
        <ul>
            <li class="numberfont"><span>+86</span><input type="text" placeholder="请输入手机号"  v-model="tel" @keyup="getInputValue"></li>
        </ul>
        <p class="error">{{errortip}}</p>
        <input v-if="btnshow2" type="button" value="下一步" class="loginButton forgetbutton activate"   @click="verifcode">
        <input v-else type="button" value="下一步" class="loginButton forgetbutton notactivate"  @click="verifcode">

    </div>
</div>
<script src="../js/vue2.min.js"></script>
<script src="../js/flexible.js"></script>
<script src="../js/axios.min.js"></script>
<script src="../js/utils.js"></script>
<script>
    var app = new Vue({
        el: '#bindmobile',
        data: {
            tel:'',
            btnshow2:false,//按钮状态
            validCode:'',//验证码;
            errortip:'',//错误提示
            bindvale:'',
        },
        mounted () {
            let _this = this;
            _this.validCode = window.sessionStorage.getItem('bindcode');//本地验证码
        },
        created() {
            //反显编辑

        },
        methods:{
            backUrl(){
                window.history.go(-1)
            },
            getInputValue(){
                let _this = this
                if(_this.tel.length>=1){
                    _this.btnshow2 = true;
                }else{
                    _this.btnshow2 = false;
                }
            },
            verifcode:function(){
                var _this=this;
                //手机号验证
                var myreg = /^[1][3,4,5,7,8][0-9]{9}$/;
                if (!_this.tel) {
                    _this.errortip = "请输入手机号";
                }else if(!myreg.test(_this.tel)){
                    _this.errortip = '请输入正确手机号';
                }
                else{
                    _this.errortip ="";
                    return new Promise((resolve, reject) => {
                        const data = {
                            mobile:_this.tel,
                            type:'4',
                        }
                        postData(data,'AmoskiActivity/memberUser/getMobileCode').then(response => {
                            if (response.code == 0) {
                                const result = response.data
                                window.sessionStorage.setItem('bindtel', _this.tel);//手机号
                                if(result){
                                    window.sessionStorage.setItem('bindcode', result);//验证码
                                }
                                //根据导航传参判断是绑定手机or更换手机
                                let Request = new Object();
                                Request = _this.GetRequest();
                                _this.bindvale = Request.bindvale;
                                if(_this.bindvale == 'bindph')
                                {
                                    window.location.href = 'mobileverificat.html';
                                }
                                else if(_this.bindvale == 'changep'){
                                    window.location.href = 'mobilechange.html';
                                }

                                resolve(result)
                            } else {
                                _this.errortip = response.msg
                               // reject('error')
                            }
                        }).catch(error => {
                            reject(error)
                        })

                    })



                }
            },
            GetRequest() {
                var url = location.search; //获取url中"?"符后的字串
                var theRequest = new Object();
                if (url.indexOf("?") != -1) {
                    var str = url.substr(1);
                    strs = str.split("&");
                    for(var i = 0; i < strs.length; i ++) {
                        theRequest[strs[i].split("=")[0]]=decodeURI((strs[i].split("=")[1]));
                    }
                }
                return theRequest;
            },
        }

    })
</script>
</body>
</html>
