<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport"/>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link  rel="stylesheet" type="text/css" href="../css/common.css" />
    <link  rel="stylesheet" type="text/css" href="../css/person.css" />
</head>
<body>
<div id="changename" class="publicHeader">
    <div class="header">
        <p class="lh44 clearfix">
            <span class="arrow ml15 w24"><a href="javascript:void(0)" @click="backUrl" class="w24"><img src="../img/arrow2.png" width="100%" height="100%"></a></span>
            <span class="datatxt f18">实名认证</span>
        </p>
    </div>
    <div class="realTxt pb30">
        <span class="displayblock realImg"><img src="../img/authentImg2.png" width="100%" height="100%"></span>
        <strong class="f15">尚未认证</strong>
        <span class="f12">您尚未进行实名认证，请认证实名信息</span>
    </div>
    <ul class="portraitList realnameList">
        <li class=" pl15 pr15 pb15 pt15 clearfix">
            <span class="fl f15 mt8">
                <span class="namenc">真实姓名</span>
            </span>
            <input type="text" value="" class="fl realInput mt8 lh24 f14" v-model="realname">
        </li>
        <li class="clearfix pl15 pr15 pb15 pt15">
            <a href="#" class="clearfix">
                <span class="fl f15 mt8">
                    <span class="namenc">证件类型</span>
                </span>
                <span class="fr f15">
                    身份证
                </span>
            </a>
        </li>
        <li class=" pl15 pr15 pb15 pt15 clearfix">
            <span class="fl f15 mt8">
                <span class="namenc">证件号码</span>
            </span>
             <input type="text" value="" class="fl realInput mt8 lh24 f14" v-model="idcard">
        </li>
    </ul>
    <div class="loginButton ml15 mr15 mt36 f15" @click="realauthent"><input type="button" value="确认"></div>
</div>
<script src="../js/vue2.min.js"></script>
<script src="../js/flexible.js"></script>
<script src="../js/axios.min.js"></script>
<script src="../js/utils.js"></script>
<script type="text/javascript">
    var app = new Vue({
        el: '#changename',
        data: {
            remnant:0,
            desc:'',
            realname:'',//真实姓名
            idcard:'',//身份证
        },
        mounted(){
            this.readreal();
        },
        methods:{
            backUrl(){
                window.history.go(-1)
            },
            descInput(){
                let _this = this;
                let textVal = _this.desc.length;
                _this.remnant = textVal;
            },
            readreal(){
                let _this = this;
                axiosSendPost('AmoskiActivity/userCenterManage/queryUserInfo',{}, function (res){
                    //成功获取数据
                    let resdata = res.data;
                    if (resdata.code == "0"){
                        _this.realname = resdata.data.realName;
                          _this.idcard = resdata.data.identityCard;
                       // _this.alertTipscuess = true;
                    } else {
                       // _this.alertTiperror = true;//认证失败
                    }
                }, function (err){
                    //请求失败
                    _this.errortip = err;
                })
            },
            realauthent(){
                window.location.href='authenticationcenter.html';
            }

        }
    })
</script>
</body>
</html>
