<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport"/>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link  rel="stylesheet" type="text/css" href="../css/common.css"/>
    <link  rel="stylesheet" type="text/css" href="../css/activity.css"/>
    <link  rel="stylesheet" type="text/css" href="../css/swiper.min.css"/>
    <script src="../js/jquery-1.11.0.min.js"></script>
    <script src="../js/swiper.min.js"></script>
</head>
<style>
    html, body{
        position: relative;
        height: 100%;
    }
    body{
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
    }
    .swiper-container ,.swiper-wrapper,.swiper-slide{
        width: 100%;
        height: 100%;
    }
    .swiper-container2{width:100%;overflow:hidden;}
    .SynopsisData{padding:0 10px;}
</style>
<body>
<section id="activityWarp">
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide active">
                <div class="Module_1">
                    <div class="pictureBig">
                        <div class="pt10 pb10 clearfix refundPicker">
                            <span class="w24 arrowIcon fl ml10" onclick="backUrl()"><a href="javascript:void(0);"><img src="../img/arrowLeftf.png" alt="" title=""></a></span>
                        </div>
                    <img :src="API_ROOT+'AmoskiRiding/appRidingGuideManage/getImg?fileUrl='+filnameUrl" width="100%" height="100%" alt="" title="" @click="activithGo()">
<!--                <img :src="datactivity.tbActivityBillImageEntity[0].fileNameUrl" width="100%" height="100%" alt="" title="" @click="activithGo()">-->
                    </div>
                    <h2 class="f30 mt22 ml15 mr15 color97 textAlign"><strong>{{datactivity.title}}</strong></h2>
                    <!--<span class="displayblock f15 mt15 ml15 mr15 textAlign">{{datactivity.describe}}</span>-->
                    <span class="displayblock f15 mt15 ml15 mr15 textAlign">优摩游为您定制的路书</span>
                    <div class="btnSlideUp"><i class="icon-navigateup"></i>向上滑动浏览</div>
                </div>
            </div>
            <div class="swiper-slide">
                <!--<div class="swiper-container2">-->
                    <!--<div class="swiper-wrapper">-->
                        <!--<div class="swiper-slide" v-for="(item,index) in swiperSlideList">-->
                            <!--<div class="tripViewMap"><img :src="item.imgUrl"  alt="" title="" width="100%" height="100%"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="swiper-pagination swiper-pagination2" style="position:relative">-->
                        <!--<span class="swiper-pagination-bullet" v-for="(item,index) in swiperSlideList" tabindex="0" role="button" aria-label="Go to slide "></span>-->
                    <!--</div>-->
                <!--</div>-->
                <ul class="tripDay">
                    <li class="clearfix" :Indexarr=index+4 v-for="(item,index) in scheduleList">
                        <a href="#">
                            <span class="day fl f20">D{{index+1}}</span>
                            <div class="cities fl">
                                <span class="fl">
                                    <span class="city">{{item.placeDeparture}}</span>
                                    <i class="arrow icon-arrowPoi"><img src="../img/arrowIcon.jpg" alt="" title=""></i>
                                </span>
                                <span class="fl">
                                    <span class="city">{{item.destination}}</span>
                                    <i class="arrow icon-arrowPoi"><img src="../img/arrowIcon.jpg" alt="" title=""></i>
                                </span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="swiper-slide">
                <h2 class="f22 mt30 ml15 mr15 color97 mb19"><strong>关于这次旅行</strong></h2>
                <div class="clearfix SynopsisData">

                </div>
            </div>
            <div class="swiper-slide">
                <h2 class="f22 mt30 ml15 mr15 color97"><strong>行程安排</strong></h2>
                <!--<ul class="routeArrange ml15"  v-for="(item,index) in scheduleList">-->
                <ul class="routeArrange ml15">
                    <li class="mt15">
                        <div class="hangB">
                            <h4 class="pl15 pt10 pb10 f12 color67">各航班</h4>
                            <div class="clearfix  routeList pt10 pb10">
                                <div class="fl Whole">
                                    <p>{{getFmtTime(signUpDto.flightDate,"HH-mm")}}</p>
                                    <p class="mt5 f12">{{signUpDto.placeDeparture}}</p>
                                </div>
                                <div class="fl flgImg mt15">
                                    <img src="../img/flg.jpg" width="100%" height="100%">
                                </div>
                                <div class="fl City">
                                    <p>{{getFmtTime(signUpDto.arriveDate,"HH-mm")}}</p>
                                    <p class="mt5 f12">{{signUpDto.destination}}</p>
                                </div>
                                <span class="flgIcon"><img src="../img/flgIcon1.png" width="100%" height="100%"></span>
                            </div>
                        </div>
                    </li>
                    <!--<li class="mt22 clearfix">-->
                        <!--<div class="clearfix">-->
                            <!--<span class="carIcon fl"><img src="../img/BicycleIcon.png" width="100%" height="100%"></span>-->
                            <!--<strong class="f12 displayinlik fwnormal ml15 mt5 color38">接机</strong>-->
                            <!--<span class="f12 ml10 mt5 color67">距离{{signUpDto.distance}}</span>-->
                            <!--<span class="f12 ml10 mt5 color67">预计{{signUpDto.timeRequired}}</span>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li class="mt15">-->
                        <!--<div class="clearfix  routeList pb10 pt10 pl15 pr15 hangB">-->
                            <!--<span class="HotalImg fl"><img src="../img/TouteImg1.jpg" @click="activithGo()" width="100%" height="100%"></span>-->
                            <!--<div class="fr Hotel">-->
                                <!--<span class="displayblock f15 color38">{{signUpDto.pathPointName}}</span>-->
                                <!--<p class="f12 mt5 color67">{{signUpDto.address}}</p>-->
                            <!--</div>-->
                            <!--<span class="flgIcon"><img src="../img/flgIcon2.png" width="100%" height="100%"></span>-->
                        <!--</div>-->
                    <!--</li>-->
                </ul>
                <div class="arrangementSubHeader ml15 mr15 f15 mt20"><span class="subTitle">酒店安排</span></div>
                <ul class="schedulingList mt36 ml15 mr15">
                    <li class="mt15" v-for="(item,index) in scheduleList" >
                        <div v-show="item.hotelName"  class="schedulingListName">
                           <p class="clearfix title">
                               <strong class="fl color97 f15 pl15">D{{index+1}} - D{{index+2}}</strong>
                               <strong class="fl ml15 f15">{{item.destination}}</strong>
                           </p>
                            <div class="Txt pt10 pb10 pl15 pr15">
                               <p><span class="jiuDIcon"><img src="../img/jiuDIcon1.jpg"/></span><span class="ml15 f12">{{item.hotelName}}</span></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="swiper-slide" v-for="(item,index) in scheduleList">
                <!--<div class="w375"><img src="../img/dayImg1.jpg" width="100%" height="100%"></div>-->
                <div class="ml15 mr15">
                    <p class="mt15"><strong class="f28 color97">D{{index+1}}</strong><span class="color67 f18">/{{getFmtTime(item.createData)}}</span></p>
                    <p class="f18 color61 mt15"><span>{{item.placeDeparture}}</span><i class="arrow icon-arrowPoi"><img src="../img/arrowIcon.jpg" alt="" title=""></i><span>{{item.destination}}</span></p>
                    <div class="mt20 borderBottom pb20 swiperplh" v-show="item.introduce">
                        <div class="f15 color67 lh24" v-html="item.introduce">
                        </div>
                    </div>
                    <div class="mt20 borderBottom pb20 swiperplh" v-show="item.eatAdvice || item.allDistance || item.hotelName">
                        <p class="f15 color67" v-show="item.eatAdvice">用餐包含： {{item.eatAdvice}}</p>
                        <p class="f15 color67" v-show="item.allDistance">预计骑行： {{item.allDistance}} {{item.timeRequired}}</p>
                        <p class="f15 color67" v-show="item.hotelName">住宿地点：{{item.hotelName}}</p>
                    </div>
                    <div class="mt36 f18 mr15">
                        <h3 class="color97 f15">D{{index+1}} 日程安排</h3>
                        <ul class="dayarrange">
                            <li class="mt15 color67 f15">
                                <div v-for="(subItem,index) in item.tbActivityTimeHistoryEntity">
                                    <span>{{subItem.startTime}} -- {{subItem.stopTime}}</span>
                                    <strong>{{subItem.introduce}}</strong>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="mt36 f18 mr15">
                        <h3 class="color97 f15">D{{index+1}} 线路安排</h3>
                        <ul class="routeArrange ml15" v-for="(subItem,index) in item.tbActivityRouteEntity">
                            <!--<li class="mt15">-->
                                <!--<div class="hangB" v-show="index+1==1">-->
                                    <!--<h4 class="pl15 pt10 pb10 f12 color67">各航班</h4>-->
                                    <!--<div class="clearfix  routeList pt10 pb10">-->
                                        <!--<div class="fl Whole">-->
                                            <!--<p>{{getFmtTime(signUpDto.flightDate,"HH-mm")}}</p>-->
                                            <!--<p class="mt5 f12">{{signUpDto.placeDeparture}}</p>-->
                                        <!--</div>-->
                                        <!--<div class="fl flgImg mt15">-->
                                            <!--<img src="../img/flg.jpg" width="100%" height="100%">-->
                                        <!--</div>-->
                                        <!--<div class="fl City">-->
                                            <!--<p>{{getFmtTime(signUpDto.arriveDate,"HH-mm")}}</p>-->
                                            <!--<p class="mt5 f12">{{signUpDto.destination}}</p>-->
                                        <!--</div>-->
                                        <!--<span class="flgIcon"><img src="../img/flgIcon1.png" width="100%" height="100%"></span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</li>-->
                            <li class="mt15">
                                <div class="clearfix  routeList pb10 pt10 pl15 pr15 hangB">
                                    <!-- subItem.tbActivityRouteImageEntity-->
                                    <!--<span class="HotalImg fl"><img :src="../img/TouteImg1.jpg" @click="activithGo()" width="100%" height="100%"></span>-->
                                    <!--<span>{{subItem.tbActivityRouteImageEntity[0]}}</span>-->
                                    <span class="HotalImg fl">
                                        <!--<img :src="subItem.tbActivityRouteImageEntity[0].fileNameUrl" @click="activithGo()" width="100%" height="100%">-->
                                        <!--<spna>{{subItem.tbActivityRouteImageEntity[0].fileNameUrl}}</spna>-->
                                        <img :src="API_ROOT+'AmoskiRiding/appRidingGuideManage/getImg?fileUrl='+subItem.tbActivityRouteImageEntity[0].fileNameUrl" @click="activithGo()" width="100%" height="100%">
                                    </span>
                                    <div class="fr Hotel">
                                        <span class="displayblock f15 color38">{{subItem.pathPointName}}</span>
                                        <p class="f12 mt5 color67">{{subItem.address}}</p>
                                    </div>
                                    <span class="flgIcon"><img src="../img/flgIcon2.png" width="100%" height="100%"></span>
                                </div>
                            </li>
                            <li class="mt22 clearfix">
                                <div class="clearfix">
                                    <span class="carIcon fl"><img src="../img/BicycleIcon.png" width="100%" height="100%"></span>
                                    <strong class="f12 displayinlik fwnormal ml15 mt5 color38">接机</strong>
                                    <span class="f12 ml10 mt5 color67">距离{{subItem.distance}}</span>
                                    <span class="f12 ml10 mt5 color67">预计{{subItem.timeRequired}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"> </div>
        <div class="transitIndicator">
        </div>
    </div>
    <div class="tripMenuWrap" v-show="tripMenuWrapshow">
        <div class="greyBg"></div>
        <div class="tripMenu f15">
            <div class="mb19">选择查看的页面及日程安排</div>
            <div class="gap10">
                <div class="row chTig clearfix f15 mt10 tabs">
                    <a href="#" class="btnPage active">
                        <i class="tos-icon icon-roadbook icon"></i>
                        <span class="title">路书封面</span>
                    </a>
                    <a href="#" class="btnPage">
                        <i class="tos-icon icon-route icon"></i>
                        <span class="title">行程路线</span>
                    </a>
                    <a href="#" class="btnPage mb19">
                        <i class="tos-icon icon-talk icon"></i>
                        <span class="title">活动介绍</span>
                    </a>
                    <a href="#" class="btnPage mb19">
                        <i class="tos-icon icon-document icon"></i>
                        <span class="title">行程安排</span>
                    </a>
<!--                <p class="mt22 mb19">-->
                    <!--<span class="f15 displayblock">日程安排</span>-->
                    <!-- </p>-->
                <a href="#" class="btnPage" v-for="(item,index) in scheduleList">D{{index+1}}</a>
                </div>
            </div>
            <div class="gap10">
                <div class="row">
                    <div class="col-md-12 mt22">
                        <div class="btnBorderGreen btnBlock pb10 pt10" @click="activithGo()">活动相册</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ctrlBtn Rectangle" @click="showCarBtn()" v-show="RectBtn">
        <img src="../img/Rectangle.png" alt="" title="" width="100%" height="100%">
    </div>
    <div class="ctrlBtn" @click="closeCatrlBtn()" v-show="closeBtn">
        <img src="../img/colsectrl.png" alt="" title="" width="100%" height="100%">
    </div>
</section>
<script src="../js/vue2.min.js"></script>
<script src="../js/flexible.js"></script>
<script src="../js/mui.js"></script>
<script src="../js/axios.min.js"></script>
<script src="../js/utils.js"></script>
<script type="text/javascript">
var app = new Vue({
    el:'#activityWarp',
    data:{
        tripMenuWrapshow:false,
        RectBtn:true,
        closeBtn:false,
        swiperSlideList:[
            {
                imgUrl:'../img/tripViewMapImg1.jpg',
            },
            {
                imgUrl:'../img/tripViewMapImg2.jpg',
            },
            {
                imgUrl:'../img/tripViewMapImg3.jpg',
            },
            {
                imgUrl:'../img/tripViewMapImg4.jpg',
            }
        ],
        dataList:[],
        datactivity:[],//路书封面数据;
        scheduleList:[],//
        dataactivitySynopsis:[],//关于这次骑行
        signUpDto:'',//线路安排,航班
        Id:'',
        filnameUrl:'',
    },
    created(){
        let Request = new Object();
        Request = GetRequest();
        this.Id = Request.id;
    },
    computed:{},
    mounted(){
        let _this = this;
        _this.dataInfor1();//调接口数据；
        _this.$nextTick(() => {
            var mySwiper2 = new Swiper('.swiper-container2',{
                autoplay : true,
                pagination: {
                    el: '.swiper-pagination2',
                    clickable: true,
                    observer:true,//修改swiper自己或子元素时，自动初始化swiper
                    observeParents:true//修改swiper的父元素时，自动初始化swipe
                },
            })
        })
    },
    methods:{
        showCarBtn(){
            this.tripMenuWrapshow = true;
            this.RectBtn = false;
            this.closeBtn = true;
        },
        closeCatrlBtn(){
            this.tripMenuWrapshow = false;
            this.RectBtn = true;
            this.closeBtn = false;
        },
        activithGo(){
            window.location.href = 'http://yomoy.com.cn/AmoskiWebActivity/personalcenter/album/shopalbum.html';
        },
        dataInfor1(){
            let _this = this;
            return new Promise((resolve, reject) =>{
                // const data = {basicsId:'183'}
                const data = {basicsId:_this.Id};
                postData(data,'AmoskiActivity/appRidingGuideManage/queryH5ActivityGuideInfo').then(response => {
                    if (response.data.code == 0) {
                        const result = response.data;
                        if(result)
                        {
                            _this.dataList = result.data;
                            _this.scheduleList = result.data.list;
                            // console.log(_this.scheduleList[0].tbActivityRouteEntity[0].tbActivityRouteImageEntity);
                            _this.datactivity = result.data.activity;
                            console.log(_this.datactivity.tbActivityBillImageEntity[0]);
                            _this.filnameUrl = _this.datactivity.tbActivityBillImageEntity[0].fileNameUrl;


                            _this.dataactivitySynopsis = result.data.activitySynopsis;
                            _this.signUpDto = result.data.signUpDto;

                             $(".SynopsisData").html(_this.dataList.activitySynopsis[0].detailsActivities);
                            var tabsSwiper = new Swiper('.swiper-container', {
                                direction: 'vertical',
                                observer:true,//修改swiper自己或子元素时，自动初始化swiper
                                observeParents:true,//修改swiper的父元素时，自动初始化swipe
                                on: {
                                    slideChangeTransitionStart: function() {
                                        $(".tabs .active").removeClass('active');
                                        $(".tabs a").eq(this.activeIndex).addClass('active');
                                    }
                                }
                            });
                            var startScroll, touchStart, touchCurrent;
                            tabsSwiper.slides.on('touchstart', function (e) {
                                startScroll = this.scrollTop;
                                touchStart = e.targetTouches[0].pageY;
                            }, true);
                            tabsSwiper.slides.on('touchmove', function (e) {
                                touchCurrent = e.targetTouches[0].pageY;
                                var touchesDiff = touchCurrent - touchStart;
                                var slide = this;
                                var onlyScrolling =
                                    ( slide.scrollHeight > slide.offsetHeight ) &&
                                    (
                                        ( touchesDiff < 0 && startScroll === 0 ) ||
                                        ( touchesDiff > 0 && startScroll === ( slide.scrollHeight - slide.offsetHeight ) ) ||
                                        ( startScroll > 0 && startScroll < ( slide.scrollHeight - slide.offsetHeight ) )
                                    );
                                if (onlyScrolling) {
                                    e.stopPropagation();
                                }
                            }, true);
                            $(".tabs").on('click','a', function(e){
                                e.preventDefault()
                                $(".tabs .active").removeClass('active')
                                $(this).addClass('active')
                                tabsSwiper.slideTo($(this).index())
                                _this.tripMenuWrapshow = false;
                                _this.closeBtn = false;
                                _this.RectBtn = true;
                            })

                            $(".tripDay").on('click', 'li', function(e) {
                                e.preventDefault()
                                $(".tripDay li.active").removeClass('active')
                                $(this).addClass('active')
                                console.log($(this).attr('Indexarr'))
                                tabsSwiper.slideTo($(this).attr('Indexarr'))
                            })

                            // $(".Rectangle").on('click',function () {
                            //   setTimeout(function () {
                            //       _this.tripMenuWrapshow = true;
                            //       _this.RectBtn = false;
                            //       _this.closeBtn = true;
                            //   },500)
                            // })

                        }
                        resolve(result)
                    } else {

                    }
                }).catch(error => {
                    reject(error)
                })

            })
        }
    }
})
</script>
<script>

</script>
</body>
</html>
