.buttonStyle{
    background: white;
}
.select{
    width: 180px;
    height: 32px;
}
.tableTdTitle{
    width:65px
}
.radius{
    margin-left:5px;
}
.input-text, .textarea{
    width: 93%;
}
.layui-layer-page .layui-layer-content{
    overflow-x: hidden;
}
.form .row{
    width:49%;
    float:left
}
.col-sm-3{
    width: 30%;
}
.col-sm-9{
    width: 69%;
}
.tableTitle{
    width: 160px;
}
.tableValue{
    width:35%;
}
label{
    margin-top: 0px;
    float: right!important;
}
.input-width{
    width:100%
}